<div class="main-content">
  <div class="container-fluid">
    <!-- <mat-tab-group class="mat-tab-body-content"> -->
    <!-- <mat-tab label="Basic Details"> -->
    <!-- <div class="row-overflow"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Add/Update Partnar basic information
              <a routerLink="/admin/clients">
                <mat-icon class="gridIcon">web</mat-icon>
              </a>
            </h4>
            <p class="card-category">Declere Customers & Suppliers here</p>
          </div>
          <div class="card-body">
            <form [formGroup]="clientForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="invisible example-full-width">
                    <input matInput placeholder="clientId" formControlName="clientId">
                    <input matInput placeholder="isActive" formControlName="isActive" [(ngModel)]="isActive">
                    
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Partner Name" formControlName="clientName">
                    <mat-error *ngIf="hasError('clientName', 'required')">Name is
                      required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Partner type" formControlName="clientType">
                      <mat-option *ngFor="let value of clientTypes" [value]="value.value">
                        {{value.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="GSTIN" formControlName="gstinNo">
                    <mat-error *ngIf="hasError('gstinNo', 'required')">GSTIN is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contact" formControlName="primanyContactNo">
                    <mat-error *ngIf="hasError('primanyContactNo', 'required')">Contact
                      Number is required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email id" formControlName="primaryEmailId">
                    <mat-error *ngIf="hasError('primaryEmailId', 'required')">Email id
                      is required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Comments" formControlName="comments">
                  </mat-form-field>
                </div>

                
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <!-- Detail Grid -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <table width="100%">
              <tr>
                <td width="90%">
                  <h4 class="card-title">Details</h4>
                </td>
                <td style="align-content: justify-content-right">
                  <button type="button" mdbBtn color="unique" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
                    Add
                  </button>
                </td>
              </tr>
            </table>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Identifier</th>
                  <th>Address</th>
                  <!-- <th>Email Id</th>
                  <th>Contact No</th> -->
                  <th>Action</th>
                </thead>
                <tbody *ngFor="let dtl of details">
                  <!-- <tr (click)="editDetail(dtl)" style="cursor: pointer;"> -->
                  <tr>
                    <td>{{dtl.identifier}}</td>
                    <td>{{dtl.address}} {{dtl.pincode}}</td>
                    <td>
                      <a (click)="editDetail(dtl, frame)" style="cursor: pointer;" class="edit" title="" data-toggle="tooltip"
                        data-original-title="Edit">
                        <mat-icon class="routeIcon">edit</mat-icon>
                      </a>
                      <a (click)="openDialog(dtl)" style="cursor: pointer;" class="delete" title=""
                        data-toggle="tooltip" data-original-title="Delete">
                        <mat-icon class="routeIcon">delete</mat-icon>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Detail Grid : End -->
    <button mat-raised-button (click)="onSubmit()" class="btn btn-success pull-right">Submit</button>
    <div class="clearfix"></div>
    <!-- </mat-tab> -->
    <!-- <mat-tab label="Address Details"> -->
    <!-- <div class="row-overflow"> -->
    <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" [style.width]="modalWIdth()">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Project Detail Entry</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close(frame)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form [formGroup]="clientDetailsForm">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="invisible example-full-width">
                    <input matInput placeholder="clientId" formControlName="clientId">
                    <input matInput placeholder="contactNo" formControlName="contactNo">
                    <input matInput placeholder="emailId" formControlName="emailId">
                  </mat-form-field>

                  <mat-form-field class="invisible example-full-width">
                    <input matInput placeholder="detailId" formControlName="detailId">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="City Name" formControlName="identifier">
                    <mat-error *ngIf="hasDetailError('identifier', 'required')">Address
                      identifier is required</mat-error>
                    <mat-error *ngIf="hasDetailError('identifier', 'maxLength')">Max
                      length is 15</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-9">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" formControlName="address">
                    <mat-error *ngIf="hasDetailError('address', 'required')">Address is
                      required</mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pincode" formControlName="pincode">
                    <mat-error *ngIf="hasDetailError('pincode', 'required')">Pincode is
                      required</mat-error>
                    <mat-error *ngIf="hasDetailError('pincode', 'maxLength')">Max length
                      is 6</mat-error>
                  </mat-form-field>
                </div> -->
                <div class="col-md-7">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Comments" formControlName="comments">
                  </mat-form-field>
                </div>
              </div> 
              <button mat-raised-button (click)="onDetailsSubmit(frame)" class="btn btn-info pull-right">Save</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </mat-tab> -->
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
    <!-- </mat-tab-group> -->

  </div>
</div>