<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Create/Update Raw Material</h4>
            <p class="card-category">Declere raw material here</p>
          </div>
          <div class="card-body">
            <form [formGroup]="rmForm">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="invisible example-full-width">
                    <input matInput placeholder="code" formControlName="code"> 
                    <input matInput placeholder="isActive" formControlName="isActive" [(ngModel)]="isActive">
                    <input matInput placeholder="unitName" formControlName="unitName"> 
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Description" formControlName="description">
                    <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Unit" formControlName="unitId">
                      <mat-option *ngFor="let unit of units" [value]="unit.unitId">
                        {{unit.unitName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="HSN/SAC Code" formControlName="hsnSacCode">
                    <mat-error *ngIf="hasError('hsnSacCode', 'required')">HSN/SAC Code is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Type" formControlName="type">
                      <mat-option *ngFor="let value of types" [value]="value.value">
                        {{value.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('type', 'required')">Type is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              
              <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-success pull-right">Save</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-info">
            <h4 class="card-title ">Materials</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Name</th>
                  <th *ngIf="!isMobileMenu()">Description</th>
                  <th>Unit</th>
                  <th>HSN Code</th>
                  <th>Action</th>
                </thead>
                <tbody *ngFor="let rm of rawMaterials">
                  <tr>
                    <td>{{rm.name}}</td>
                    <td *ngIf="!isMobileMenu()">{{rm.description}}</td>
                    <td>{{rm.unitName}}</td>
                    <td>{{rm.hsnSacCode}}</td>
                    <td>
                      <a (click)="edit(rm)" class="edit" title="" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Edit">
                        <mat-icon class="routeIcon">edit</mat-icon>
                      </a> 
                        <a (click)="openDialog(rm)" style="cursor: pointer;" class="delete" title="" data-toggle="tooltip" data-original-title="Delete">
                        <mat-icon class="routeIcon">delete</mat-icon>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>