<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Raw material order placement
              <a routerLink="/transaction/orders">
                <mat-icon class="gridIcon" alt="Show All">web</mat-icon>
              </a>
            </h4>
            <div *ngIf="orderId">
              <p class="card-title">Order Id : {{orderId}}</p>
            </div>
            <div *ngIf="!orderId">
              <p class="card-category">Enter order placement details for raw materials</p>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="opForm" (ngSubmit)="onSubmit()" #headerForm="ngForm">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="invisible example-full-width">
                    <input matInput placeholder="orderId" formControlName="orderId">
                    <input matInput placeholder="isActive" formControlName="isActive">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Project" formControlName="projectId">
                      <mat-option *ngFor="let value of projects" [value]="value.projectId">
                        {{value.projectId}} | {{value.description}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('projectId', 'required')">Project is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Supplier" formControlName="supplierId"  (selectionChange)="populateSupplierDetails($event)">
                      <mat-option *ngFor="let value of suppliers" [value]="value.clientId" >
                        {{value.clientName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('supplierId', 'required')">Supplier is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Supplier Address" formControlName="supplierDetailsId">
                      <mat-option *ngFor="let value of supplierDetails" [value]="value.detailId" >
                        {{value.identifier}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Work Unit" formControlName="siteId">
                      <mat-option *ngFor="let value of workUnits" [value]="value.value">
                        {{value.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>Order Date</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="orderDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error *ngIf="hasError('expectedDeliveryDate', 'required')">Order date is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>Expected Delivary Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="expectedDeliveryDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="hasError('expectedDeliveryDate', 'required')">Expected delivary date is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Status" formControlName="status">
                      <mat-option *ngFor="let value of statusValues" [value]="value.value">
                        {{value.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Freight Charges" formControlName="freightChargeType">
                      <mat-option *ngFor="let value of freightCharges" [value]="value.value">
                        {{value.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6"> 
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Payment Terms" formControlName="paymentTerms">
                    <mat-error *ngIf="hasError('paymentTerms', 'required')">Payment terms is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Notes" formControlName="notes">
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Details Grid : Start -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-info">
            <table width="100%"><tr><td width="90%"> 
            <h4 class="card-title ">Order Placement Dteails</h4>
            </td><td  style="align-content: justify-content-right">
            <button type="button" mdbBtn color="unique" rounded="true" data-toggle="modal" data-target="#basicExample"
              (click)="frame.show()" mdbWavesEffect>
              Add
            </button>
          </td></tr></table>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Raw Material</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Action</th>
                </thead>
                <tbody *ngFor="let dtl of details">
                  <tr>
                    <td>{{dtl.rmId}}</td>
                    <td>{{dtl.quantity}}</td>
                    <td>{{dtl.unitId}}</td>
                    <td>{{dtl.rate}}</td>
                    <td>{{dtl.amount}}</td>
                    <td>
                      <a (click)="editDetail(dtl, frame)" style="cursor: pointer;"
                          class="edit" title="" data-toggle="tooltip"
                          data-original-title="Edit">
                          <mat-icon class="routeIcon">edit</mat-icon>
                      </a>
                      <a (click)="openDialog(dtl)" style="cursor: pointer;"
                          class="delete" title="" data-toggle="tooltip"
                          data-original-title="Delete">
                          <mat-icon class="routeIcon">delete</mat-icon>
                      </a>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Details Grid : End -->
    <button mat-raised-button type="submit" [disabled]="!headerForm.form.valid" (click)="headerForm.ngSubmit.emit()" class="btn btn-success pull-right">Save</button>
    <div class="clearfix"></div>
    <!-- MODAL -->


    <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" [style.width]="modalWIdth()">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Order Placement Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close(frame)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form [formGroup]="opDetailForm">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="invisible example-full-width">
                    <input matInput placeholder="orderId" formControlName="orderId">
                    <input matInput placeholder="orderDetailsId" formControlName="orderDetailsId">
                    <input matInput placeholder="alreadyOrderedQuantity" formControlName="alreadyOrderedQuantity">
                    <input matInput placeholder="remainingQuantity" formControlName="remainingQuantity">
                    
                  </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Raw Material" formControlName="rmId">
                        <mat-option *ngFor="let value of rawMaterials" [value]="value.code" 
                            (onSelectionChange)="populateUnit(value)"> 
                          {{value.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="hasDetailError('rmId', 'required')">Raw material is required</mat-error>
                    </mat-form-field>
                </div> 
                <div class="col-md-2">
                  <mat-form-field class="invisible example-full-width">
                    <input matInput placeholder="Unit" formControlName="unitId" [(ngModel)]='unitId' >
                </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Unit" formControlName="unitName" [readonly]="true" [(ngModel)]='unitName' >
                    <mat-error *ngIf="hasDetailError('unitName', 'required')">Unit is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Quantity" formControlName="quantity"  (change)="calculateDetail()">
                    <mat-error *ngIf="hasDetailError('quantity', 'required')">Quantity is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Rate" formControlName="rate" style="text-align: right;"  (change)="calculateDetail()">
                      <mat-error *ngIf="hasDetailError('rate', 'required')">Rate is required
                      </mat-error>
                  </mat-form-field>
              </div>

              <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Amount" formControlName="amount" [readonly]="true" [(ngModel)]="detailAmount" style="text-align: right;">
                      <mat-error *ngIf="hasDetailError('amount', 'required')">Amount is required
                      </mat-error>
                  </mat-form-field>
              </div>
              </div>
              <div class="modal-footer d-flex justify-content-right">
                <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect (click)="onDetailSubmit(frame)">Save</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <!-- MODAL-->
  </div>
</div>