<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-info">
            <h4 class="card-title ">Expense details
              <a routerLink="/transaction/expense/add">
                <mat-icon class="gridIcon">add</mat-icon>
              </a>
            </h4>

          </div>
          <div class="card-body">
            <form [formGroup]="expForm" (ngSubmit)="onSubmit()" #headerForm="ngForm">
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>From Date/Expanse Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="hasError('fromDate', 'required')">From date is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <!-- <mat-error *ngIf="hasError('fromDate', 'required')">To date is required</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <button mat-raised-button type="submit" [disabled]="!headerForm.form.valid"
                    (click)="headerForm.ngSubmit.emit()" class="btn btn-success pull-right">Search</button>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="isSearched">
            <div class="p-1 mb-2 bg-light text-dark">
              <div class="card-title"><h4><b>Expanse during this date range : {{totalExpense | currency:'INR'}}</b></h4></div>
              <div class="card-title"><h5><b>Expanse Summary :</b></h5></div>
                <div>
                  <div *ngFor="let cat of catagoriseExpenses | keyvalue">
                    <div class="table table-striped table-sm">
                        <div class="row">
                          <div class="col-md-2"><b>{{cat.key}}</b></div>
                          <div class="col-md-2 text-right">{{cat.value | currency:'INR'}}</div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <h4 class="text-primary"><b>Expanse Details :</b></h4>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead class="thead-dark">
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                  </thead>
                  <tbody *ngFor="let exp of expenses">
                    <tr>
                      <td>{{exp.expenseDateString}}</td>
                      <td>{{exp.categoryName}}</td>
                      <td>{{exp.description}}</td>
                      <td style="text-align: right;">{{exp.amount | currency:'INR'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>