<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-info">
                  <h4 class="card-title ">Partners details</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="text-primary">
                        <th>Name</th>
                        <th>Type</th>
                        <th>GSTIN</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Action</th>
                      </thead>
                      <tbody *ngFor="let cli of clients">
                        <tr>
                          <td>{{cli.clientName}}</td>
                          <td>{{cli.clientType}}</td>
                          <td>{{cli.gstinNo}}</td>
                          <td>{{cli.primanyContactNo}}</td>
                          <td>{{cli.primaryEmailId}}</td>
                          <td>
                            <a [routerLink]="['/clients', cli.clientId]" class="edit" title="" data-toggle="tooltip" data-original-title="Edit">
                              <mat-icon class="routeIcon">edit</mat-icon>
                            </a>
                            <a (click)="delete(cli)" style="cursor: pointer;" class="delete" title="" data-toggle="tooltip" data-original-title="Delete">
                              <mat-icon class="routeIcon">delete</mat-icon>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>