<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-info">
                  <h4 class="card-title ">Project details
                    <a routerLink="/project/add">
                      <mat-icon class="gridIcon">add</mat-icon>
                    </a>
                  </h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="text-primary">
                        <th>Project Code</th>
                        <th>Description</th>
                        <th>Customer</th>
                        <th *ngIf="!isMobileMenu()">Estimated delivery date</th>
                        <th *ngIf="!isMobileMenu()">Status</th>
                        <th>Action</th>
                      </thead>
                      <tbody *ngFor="let project of projects">
                        <tr>
                          <td>{{project.projectId}}</td>
                          <td>{{project.description}}</td>
                          <td>{{project.customerName}}</td> 
                          <td *ngIf="!isMobileMenu()">{{project.expectedDeliveryDateString}}</td>
                          <td *ngIf="!isMobileMenu()">{{project.status}}</td>
                          <td>
                            <a [routerLink]="['/projects/edit']" [queryParams]="{ id: project.projectId, amendmentNo : project.amendmentNo}" class="edit" title="" data-toggle="tooltip" data-original-title="Edit">
                              <mat-icon class="routeIcon">edit</mat-icon>
                            </a>
                              <a (click)="openDialog(project)" style="cursor: pointer;" class="delete" title="" data-toggle="tooltip" data-original-title="Delete">
                              <mat-icon class="routeIcon">delete</mat-icon>
                            </a>
                          </td>
                        </tr> 
                      </tbody>
                    </table>
                  </div> 
                </div>
              </div>
            </div>
          </div>
    </div>
</div>