<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Raw material order delivery</h4>
                        <div *ngIf="deliveryId">
                            <p class="card-title">Delivery Id : {{deliveryId}}</p>
                        </div>
                        <div *ngIf="!deliveryId">
                            <p class="card-category">Enter order delivery details for raw materials</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()" #headerForm="ngForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="invisible example-full-width">
                                        <input matInput placeholder="deliveryId" formControlName="deliveryId">
                                        <input matInput placeholder="isActive" formControlName="isActive">
                                        <input matInput placeholder="supplierId" formControlName="supplierId" >
                                        <input matInput placeholder="supplierDetailsId" formControlName="supplierDetailsId" >
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Order" formControlName="orderId" (selectionChange)="populatOrder($event)">
                                            <mat-option *ngFor="let value of orders" [value]="value.orderId">
                                                {{value.orderId}} | {{value.supplierName}}
                                            </mat-option> 
                                        </mat-select>
                                        <mat-error *ngIf="hasError('orderId', 'required')">order is required</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3"> 
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Supplier" formControlName="supplierName" [readonly]="true" [(ngModel)]='od.supplierName'>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3"> 
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Supplier Address" formControlName="supplierIdentifier" [readonly]="true" [(ngModel)]='od.supplierIdentifier'>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Consignee" formControlName="consigneeId"  (selectionChange)="populateConsigneeDetails($event)">
                                        <mat-option *ngFor="let value of consignees" [value]="value.clientId" >
                                          {{value.clientName}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Consignee Address" formControlName="consigneeDetailsId">
                                        <mat-option *ngFor="let value of consigneeDetails" [value]="value.detailId" >
                                          {{value.identifier}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>