<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rabi Engineering
        
    </a>
</div>
<div class="sidebar-wrapper">
    <mat-sidenav #appDrawer mode="over" opened="true">
        <mat-nav-list>
            <app-menu-list-item 
            *ngFor="let item of sideBarItems" [item]="item" 
            ></app-menu-list-item>
        </mat-nav-list>
    </mat-sidenav>
</div>