<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rabi Engineering
        
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="accountDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownMenuLink">
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </li>
        </ul>
    </div>
    <mat-sidenav #appDrawer mode="over" opened="true">
        <mat-nav-list>
            <app-menu-list-item 
            *ngFor="let item of sideBarItems" [item]="item" 
            ></app-menu-list-item>
        </mat-nav-list>
    </mat-sidenav>
</div>