<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart" >
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Current Raw-Material Status</h4>
                        <!-- <p class="card-category"> -->
                            <mat-chip-list aria-label="Site">
                                <mat-chip color="secondary" selected>Dum Dum Site</mat-chip>
                                <mat-chip color="accent" selected>Singur Site</mat-chip> 
                            </mat-chip-list>
                           
                        <!-- </p> -->
                    </div>
                    <!-- <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>