<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-info">
            <h4 class="card-title ">Daily work log
              <a routerLink="/transaction/log/add">
                <mat-icon class="gridIcon">add</mat-icon>
              </a>
            </h4>
            
          </div>
          <div class="card-body">
            <form [formGroup]="opForm" (ngSubmit)="onSubmit()" #headerForm="ngForm">
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>Log Date</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="processDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error *ngIf="hasError('processDate', 'required')">Log date is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <button mat-raised-button type="submit" [disabled]="!headerForm.form.valid" (click)="headerForm.ngSubmit.emit()"
                  class="btn btn-success pull-right">Search</button>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body">
            <div class="table-responsive" *ngFor="let work of works | keyvalue">
              <p class="mat-card-title">Project id : {{work.key}}</p>
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Item</th>
                  <th>Unit</th>
                  <th>Quantity</th>
                  <th>In/Out</th>
                </thead>
                <tbody *ngFor="let log of work.value">
                  
                  <tr>
                    <td>{{log.materialName}}</td>
                    <td>{{log.materialUnit}}</td>
                    <td>{{log.quantity}}</td>
                    <td>{{log.processType}}</td>
                    
                    <!-- <td>
                      <a [routerLink]="['/order-delivery/edit']" [queryParams]="{ id: dl.deliveryId}" class="edit"
                        title="" data-toggle="tooltip" data-original-title="Edit">
                        <mat-icon class="routeIcon">edit</mat-icon>
                      </a>
                      <a (click)="openDialog(dl)" style="cursor: pointer;" class="delete" title="" data-toggle="tooltip"
                        data-original-title="Delete">
                        <mat-icon class="routeIcon">delete</mat-icon>
                      </a>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>