<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-info">
            <h4 class="card-title ">Daily work log
              <a routerLink="/transaction/log/add">
                <mat-icon class="gridIcon">add</mat-icon>
              </a>
            </h4>

          </div>
          <div class="card-body">
            <form [formGroup]="opForm" (ngSubmit)="onSubmit()" #headerForm="ngForm">
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>Log Date</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="processDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error *ngIf="hasError('processDate', 'required')">Log date is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>To Date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <!-- <mat-error *ngIf="hasError('fromDate', 'required')">To date is required</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <button mat-raised-button type="submit" [disabled]="!headerForm.form.valid"
                    (click)="headerForm.ngSubmit.emit()" class="btn btn-success pull-right">Search</button>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body">
            <div class="table-responsive" *ngFor="let work of works | keyvalue">
              <h4 class="text-primary"><b>Project id : {{work.key}}</b></h4>

              <div *ngFor="let logDate of work.value | keyvalue">
                <h5 class="text-primary">Date : {{logDate.key}}</h5>
                <table class="table table-striped table-sm">
                  <thead class="thead-dark">
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Galvaniser</th>
                    <th>In/Out</th>
                  </thead>

                  <tbody *ngFor="let log of logDate.value | keyvalue">
                    <tr>
                      <td>{{log.value.materialName}}</td>
                      <td>{{log.value.quantity}} {{log.value.materialUnit}}</td>
                      <td>{{log.value.galvaniserName}}</td>
                      <td>{{log.value.processType}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>